@use '@/styles/global.scss';

.main {
  padding: 8.3rem 0 10.3rem;
  color: global.$light;
  text-align: center;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 4.8rem;
    margin-bottom: 6rem;
  }

  p {
    width: 77rem;
    margin: 0 auto;
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  .image {
    width: 18rem;
    height: 18rem;
    margin: 8.5rem auto 5rem;
  }

  .btn {
    @include global.btn-link
  }
}