@use '@/styles/global.scss';

.btn {
  width: fit-content;
  margin: 0 auto;
  padding: 2.8rem 5rem 2rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  background-color: global.$light;
  color: global.$dark;
  border: 0.5rem solid global.$blue;
  cursor: pointer;
  transition: color 0.3s, background-color 0.2s;

  &:hover {
    background-color: global.$blue;
    color: global.$light;
  }
}